{% extends 'auth.html' %}

{% block content %}
<div class="text-center mt-4">
	<h1 class="h2">Bem-vindo!</h1>
	<p class="lead">
		Entre na sua conta para continuar
	</p>
</div>

<div class="card">
	<div class="card-body">
		<div class="m-sm-4">
			<form action="{% url 'sign-in' %}" method="post">
				{% csrf_token %}
				<div class="mb-3">
					<label class="form-label">{{ form.email.label }}</label>
					{{ form.email }}

					{% for error in form.email.errors %}
						<label class="error small form-text invalid-feedback">{{ error }}</label>
					{% endfor %}

				</div>
				<div class="mb-3">
					<label class="form-label">{{ form.password.label }}</label>
					{{ form.password }}
					{% for error in form.password.errors %}
						<label class="error small form-text invalid-feedback">{{ error }}</label>
					{% endfor %}
					<small>
						<a href="{% url 'recover-password' %}">Esqueceu a senha?</a>
					</small>
				</div>
				<div>
					<div class="form-check align-items-center">
						{{ form.remember_me }}
						<label class="form-check-label text-small"
							for="remember">{{ form.remember_me.label }}</label>
					</div>
				</div>
				<div class="text-center mt-3">
					<button type="submit" class="btn btn-lg btn-primary">Entrar</button>
					<hr>
					<span>
						<a href="{% url 'home' %}" class="btn btn-lg btn-link align-middle">Página inicial</a>
						ou
						<a href="{% url 'sign-up' %}" class="btn btn-lg btn-link align-middle">Cadastrar</a>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
