<nav class="navbar navbar-expand navbar-light navbar-bg">
    <form class="d-none d-sm-inline-block">
        <div class="input-group input-group-navbar">
            <input type="text" class="form-control" placeholder="Pesquisar..." aria-label="Search">
            <button class="btn" type="button">
                <i class="align-middle" data-feather="search"></i>
            </button>
        </div>
    </form>

    <ul class="navbar-nav">
        <li class="nav-item px-2 dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorias
            </a>
            <div class="dropdown-menu dropdown-menu-start dropdown-mega" aria-labelledby="servicesDropdown">

                {% for category in categories %}
                    <div class="d-md-flex align-items-start justify-content-start">
                        <div class="dropdown-mega-list">
                            <a class="dropdown-item" href="#">{{ category.name }}</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </li>
    </ul>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">

            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                        <i class="align-middle fas fa-fw fa-user-circle"></i>
                        <span class="text-dark">{{ user }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="pages-profile.html">
                            <i class="align-middle" data-feather="user"></i>
                            Minha conta
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'sign-out' %}">Sair</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'sign-in' %}" class="nav-link d-none d-sm-inline-block">
                        <span>
                            <i class="align-middle" data-feather="log-in"></i>
                            Entrar
                        </span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
